/* Importando os demais arquivos CSS do site */
@import url("reset.css");
@import url("header.css");
@import url("main.css");
@import url("content.css");

/* Criando variáveis em CSS */
:root {
  --preto: #000000;
  --cinza-escuro: #0e0c0b;
  --cinza-medio: #1a1a19;
  --branco: #ffffff;
  --laranja-avermelhada: #df5320; /* cor matriz: #FF4500 */
  --fonte-principal: "Arial";
}

/* Este body servirá para todas as páginas  */
body {
  background-color: var(--preto);
  color: var(--branco);
}